.default-logo {
    height: 40px;
}
.small-logo {
    height: 35px;
    border-radius: 10px;
}

.menu-item.active>.menu-link.menu-item-active\:bg-secondary-active {
    background-color: var(--tw-secondary-active);
}

@media (max-width: 480px) {
    .breadcrumb {
        margin:0px;
    }
}